.dashboard {
    padding: 24px;
  }

.quantityWrapper {
    display: flex;
    flex-direction: row;
    background: #ded9d9;
    border-radius: 8px;
}

.quantityTitle {
    flex: 20%;
}

.counterWrapper {
    flex: 20%;
}