.quantityBtn {
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    color: black;
    height: 30px;
    border: 1px solid;
    min-width: 40px;
    min-height: 38px;
}

.counterValue {
    border: 1px solid #adadad;
    border-radius: 3px;
    margin: 2px 0;
    padding: 4px;
    text-align: center;
    width: 100px;
    height: 35px;
}
.quantityWrapper {
  display: flex;
  flex-direction: row;
  width: 40px;
}